<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators d-none d-md-flex">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../../assets/main-banner1.7d11f79e.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p>{{'limited offer 50% off'| titlecase}}</p>
        <h1>{{'pLaying video games'| titlecase}}</h1>
        <button class="btn">{{ 'shop now'| titlecase}}</button>
      </div>
      <div class="carousel-caption d-block d-md-none">
        <p>{{'limited offer 50% off'| titlecase}}</p>
        <h1>{{'pLaying video games'| titlecase}}</h1>
        <button class="btn">{{ 'shop now'| titlecase}}</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/main-banner2.3b749e9b.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p>{{'limited offer 50% off'| titlecase}}</p>
        <h1>{{'new wireless speaker'| titlecase}}</h1>
        <button class="btn">{{ 'shop now'| titlecase}}</button>
      </div>
      <div class="carousel-caption d-block d-md-none">
        <p>{{'limited offer 50% off'| titlecase}}</p>
        <h1>{{'new wireless speaker'| titlecase}}</h1>
        <button class="btn">{{ 'shop now'| titlecase}}</button>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev d-none d-md-flex" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next d-none d-md-flex" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
