<section class="container my-5 shadow rounded p-3">
  <div class="login-container row">
    <div class="col-md-6 col-sm-12">
      <div class="image-container">
        <img class="w-100 rounded" src="../../../../assets/e-commerce-login.jpg" alt="">
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <h1 class="text-center mb-3 text-dark text-muted fw-bold">Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password" formControlName="password">
      </div>
      <button class="btn col-sm-12 col-md-5 px-5 py-2 fw-bold" (click)="login()">Login</button>
      <div class="row mt-1">
        <div>
          <a routerLink="register">Need Account ? <span class="text-danger">Register</span></a>
        </div>
      </div>
      <div class="row mt-3">
        <a (click)="signInWithGoogle()" >
          <div class="card text-center">
            <div class="card-body">
              <img src="../../../assets/icons8-google-48.png" alt="" height="24px" width="24px"> Sign In With Google
            </div>
          </div>
        </a>
      </div>
      </form>
    </div>
  </div>
  <!-- By creating an account you agree with our Terms of Service, Privacy Policy, and our default Notification Settings. -->
</section>
