<!-- Store apps -->
<section class="apps container-fluid d-flex justify-content-around flex-wrap p-5 rounded-top border-bottom">
  <div class="text d-flex flex-column">
    <h2 class="fw-bold">{{'get our latest update!' | titlecase}}</h2>
    <p>Join Our Newsletter And Get $10 Discount</p>
    <form class="d-flex justify-content-between flex-wrap">
      <input type="text" class="form-control py-2" placeholder="Email">
      <button class="btn px-4 py-2">Send</button>
    </form>
  </div>
  <div class="app-store d-flex justify-content-center">
    <div class="download d-flex flex-column flex-wrap align-items-center">
      <h5 class="fw-bold">Download Our App</h5>
      <p>15% Discount on your first purchase.</p>
      <div class="image-container d-flex justify-content-center mt-2 flex-wrap">
        <img src="../../../../assets/ios-270x80.png" alt="ios">
        <img src="../../../../assets/android-268x80.png" alt="android">
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<section class="footer p-2 border-bottom">
  <div class="footer-container d-flex justify-content-between flex-wrap">
    <div>
      <h4>Contact Us</h4>
      <p>Mohrenstrasse 37 10117 Berlin</p>
      <a href="mailto:Muhammadfouad551@gmail.com">MuhammadFouad551@gmail.com</a>
      <p>(+49) 30 132106659</p>
    </div>
    <div>
      <h4>Need Help?</h4>
      <ul>
        <li>Contact Us</li>
        <li>Help Center</li>
        <li>Investor Relations</li>
        <li>Terms of Use</li>
        <li>Corporate Information</li>
        <li>Legal Notices</li>
      </ul>
    </div>
    <div>
      <h4>Informations</h4>
      <ul>
        <li>Reservation</li>
        <li>Sitemap</li>
        <li>FAQs</li>
        <li>Tickets</li>
        <li>Wholesale Policy</li>
      </ul>
    </div>
    <div>
      <h4>About us</h4>
      <ul>
        <li>About us</li>
        <li>Delivery Information</li>
        <li>Privacy Policy</li>
        <li>Terms and Conditions</li>
        <li>Search</li>
      </ul>
    </div>
  </div>
</section>

<!-- Info -->
<section class="info d-flex justify-content-center">
  <div>
    <p class="text-center">&#169; 2023, E-commerce - E-commerce Website.</p>
    <p>Designed and built with all the <strong style="color: rgb(66, 176, 255);">love</strong>
      in the world by
      <a href="https://github.com/Muhammad-1956?tab=repositories"
        target="_blank">
        Muhammad Fouad</a>
      </p>
  </div>
</section>
