//Variables
$dunkle-blau: #223040;
$hell-yellow: #fdda06;
$hell-grau: #344456;

//Store Apps
.apps{
  color: white;
  .text,.app-store{
    width: 50%;
    form{
      width: 70%;
      input{
        display: inline-block;
        width: 77%;
        margin-right: 4px;
      }
    }
      img{
        max-width: 49%;
        max-height: 54%;
        margin-right: 5px;
      }
  }
  button{
    background-color: $hell-yellow;
    color: white;
    font-weight: bold;
  }
}

.footer{
  background-color: $dunkle-blau;
  h4{
    color: white;
    font-weight: bold;
  }
  p{
    color: #eee;
  }
  ul{
    list-style: none;
    padding: 0px;
    li{
      color: #928e8e;
      &:hover{
        color: white;
        cursor: pointer;
      }
    }
  }
  a{
    color: $hell-yellow;
  }
}
@media (min-width: 320px) and (max-width: 480px){
  .footer-container{
    // text-align: center;
    justify-content: center !important;
  }
}
//Info
.info{
  color: white;
  border-top: 1px solid #656464;
  background-color: $dunkle-blau;
  p{
    text-align: center;
    i{
      color: rgb(0, 208, 255);
    }
    a{
      color: $hell-yellow; text-decoration: none;
    }
  }
}

//Small Devices
@media (min-width: 320px) and (max-width: 480px){
  //Store Apps
  .apps{
    text-align: center;
    .text,.app-store{
      width: 100%;
      margin-bottom: 1rem;
      form{
        width: 100%;
        input{
          display: block;
          width: 100%;
          margin-right: 0px;
          margin-bottom: 10px;
        }
        button{
          width: 100%;
        }
      }
      .image-container {
        justify-content: center !important;
        img{
          max-width: 50%;
          padding-right: 5px;
          margin-bottom: .6rem;
        }
      }
    }
  }
  }

//Medium Devices
@media (min-width: 481px) and (max-width: 768px){
  //Store Apps
  .apps{
    text-align: center;
    .text,.app-store{
      width: 100%;
      margin-bottom: 1rem;
      form{
        width: 100%;
        input{
          display: block;
          width: 100%;
          margin-right: 0px;
          margin-bottom: 10px;
        }
        button{
          width: 100%;
        }
      }
      .image-container {
        justify-content: center !important;
        img{
          max-width: 50%;
          padding-right: 5px;
          margin-bottom: .6rem;
        }
      }
    }
  }
}

//Large Screen
@media (min-width: 769px) and (max-width: 1200px){
//Store Apps
.apps{
  h2{
    font-size: calc(1.325rem + .5vw);
  }
    .text,.app-store{
      form{
        width: 100%;
        input{
          display: block;
          width: 100%;
          margin-right: 0px;
          margin-bottom: 10px;
        }
        button{
          width: 100%;
        }
      }
      .image-container {
        justify-content: center !important;
        margin-top: 0 !important;
        img{
          width: 100%;
          max-height: 40%;
          margin-bottom: -4.5px;
        }
      }
    }
  }

}
//Xlarge Screen
@media (min-width: 1201px){
//Store Apps
.apps{
  h2{
    font-size: calc(1.325rem + .5vw);
  }
    .text,.app-store{
      form{
        width: 100%;
        input{
          width: 74%;
          margin-right: 0px;
          margin-bottom: 10px;
        }
        button{
          width: 25%;
          padding: 0 0 0 0 ;
          height: 43px;
        }
      }
      .image-container {
        justify-content: center !important;
        margin-top: 0px !important;
        img{
          margin-bottom: .3rem;
        }
      }
    }
  }

}
