<div class="home">
  <!-- <div class="sidebar" width="20%"> -->
    <!-- Sidebar Component -->
    <!-- <app-sidebar></app-sidebar>
  </div> -->

    <!-- Slider Component -->
    <!-- <app-slider></app-slider> -->

    <!-- Airpods And Playstation Shield Section -->
    <!-- <div class="offers my-5 d-flex justify-content-between align-items-center">
      <div class="air d-flex justify-content-end align-items-center">
        <div class="d-flex flex-column">
          <h5>Extra 30% Off</h5>
          <h5 class="h3">Prolet designed for Airpods</h5>
          <a routerLink="home">{{'shop now'| titlecase}}</a>
        </div>
      </div>
      <div class="play d-flex justify-content-end align-items-center">
        <div class="d-flex flex-column">
          <p>Extra 30% Off</p>
          <p class="h3">EasySkinz XBOX Series X</p>
          <a routerLink="home">{{'shop now'| titlecase}}</a>
        </div>
      </div>

    </div> -->
    <!-- <section class="shield my-3 row">

        <div class="col-md-6">
          <div class="airpods d-flex justify-content-end">
            <img class="w-100" src="../../../../assets/extra-banner1.88e5e3e0.png" alt="">
            <div class="col-md-5 offset-md-7 d-flex flex-column align-items-start justify-content-center">
              <p>Extra 30% Off</p>
              <p class="h3">Prolet designed for Airpods</p>
              <a routerLink="home">{{'shop now'| titlecase}}</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="playstation d-flex justify-content-end">
            <img src="../../../../assets/download\ \(1\).png" class="w-100" alt="">
            <div class="col-md-5 offset-md-7 d-flex flex-column align-items-start justify-content-center">
              <p>Extra 30% Off</p>
              <p class="h3">EasySkinz XBOX Series X</p>
              <a routerLink="home">{{'shop now'| titlecase}}</a>
            </div>
          </div>
        </div>

    </section> -->

    <!-- Product Listing Component -->
    <app-product-listing></app-product-listing>



  </div>
