.frame{
  // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  h3,h4{
    font-size: 1.8vw;
  }
  p,button{
    font-size: 1.4vw;
  }
  h3,p{
    margin: 0;
    padding: 0;
  }
}
.img-fluid{
  width: 44%;
}
h4{
  margin-bottom: 0px;
}
@media (max-width: 767px){
  .img-fluid{
    width: 100% !important;
  }
  h3,h4,p,button{
    font-size: 1.9vw !important;
  }
}
