//Variables
$dunkle-blau: #223040;
$hell-yellow: #fdda06;
$hell-grau: #344456;
.card{
  width: fit-content;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 1vw;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  @media (max-width: 575.5px){
    margin-right: 0px;
  }
  p{
    strong{
      color: $hell-yellow;
    }
  }
  .btn{
    background-color: $hell-grau;
    color: white;
    font-weight: bold;
  }
  &:hover{
    .btn{
      background-color: $hell-yellow;
    }

  }
}
